<widget id="com.example.hello" version="0.0.1"
		gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
	<name>Pre Test</name>
	<description>
	Registration Form
		</description>
	<author>
	Shamsul Akmal 
		
	</author>	
	
	<content src="index.html"/>
	<access origin="*" />
	
	<icon src="images/icon.jpg" />
</widget>	