<widget id="com.example.hello" version="0.0.1"
		xmlns="http://www.w3.org/ns/widgets" 
		xmlns:cdv="http://cordova.apache.org/ns/1.0"
		/>
	<name>Pre Test</name>
	<description>
	Registration Form
		</description>
	<author email="shamsulakmalaine@gmail.com" href="http://phonegap.com">

		Shamsul Akmal
	</author>	
	
	<content src="index.html"/>
	<access origin="*" />
	
	<icon src="images/icon.jpg" />
	<gap:plugin name="org.apache.cordova.camera" version="0.3.2" /> 
	<gap:plugin name="org.apache.cordova.file"/>
	<gap:plugin name="org.apache.cordova.media-capture" />
	 <gap:plugin name="org.apache.cordova.media" /> 
	
</widget>	